package config

// Скопируй этот файл в secrets.go и заполни своими значениями.

const (
	ArbiscanAPIKey    = "YOUR_ARBISCAN_API_KEY"
	TelegramBotToken  = "YOUR_BOT_TOKEN"
	TelegramChannelID = int64(-1234567890)
)
